body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 980px;
  margin: 0;
  padding: 0;
  background: #222;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91wh;
  background: #222;
  opacity: 0;
}

.container{
  padding: 0;
}

svg {
  margin-top: 5vh;
  height: 125vw; 
}

path {
  stroke-width: 2px;
  stroke: #fff;
  fill: #222;
  stroke-linecap: round;
  stroke-linejoin: round;
}

